<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webbid</title>
    <link rel="icon" href="/logo/favicon.png">
    <link href="/stylesheets/index.css" rel = "stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  </head>
<body>
  <div id="top"></div>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><i class="fas fa-won-sign"></i>ebbid</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <div class="ms-auto">
              <ul class="navbar-nav">
                <% if(!currentUser){ %> 
                <li class="nav-item">
                  <a class="nav-link" href="/login">LogIn</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">SignUp</a>
                </li>
                <% }else{ %> 
                  
                <a class="navbar-brand" href="#offcanvasExample" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fas fa-user-alt"></i>  <%= currentUser.username %> </a>
              
                <% } %> 
              </ul>
            </div>
          </div>
        </div>
      </nav>
     
    <main class="container mt-3">
      
        <div class="row">
            <div class="col-lg-6 ms-auto me-auto">
                <div class="container mt-3">
        
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading"><%=err.message%></h4>
                    </div>
                    <img src="/logo/errorMeme.jpeg" style="width: 100%;" alt="">
                </div>
                
            </div>
        </div>
        
          

    </main>
    
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>


    
</body>
</html>