<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-lg-6 ms-auto me-auto">
        <div class="container mt-3">

            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><%=err.message%></h4>
            </div>
            <img src="/logo/errorMeme.jpeg" style="width: 100%;" alt="">
        </div>
        
    </div>
</div>